<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head :: header-links">
<head>
    <meta charset="UTF-8">
    <title>Create Events</title>
</head>
<body>
<h1>Create Event</h1>
<form th:action="@{/events/create/{trailId}(trailId=${trail.id})}" th:method="POST" th:object="${event}">

    <div class="input">
        <label for="title">Title:</label>
        <input type="text" id="title" th:field="*{title}">
    </div>

    <div class="input">
        <label for="description">Title:</label>
        <input type="text" id="description" th:field="*{description}">
    </div>

    <div class="input">
        <label for="date">Date:</label>
        <input type="date" id="date" th:field="*{date}">
    </div>

    <button>Create Event</button>

</form>
</body>
</html>