<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:include="partials/head.html :: header-links (pageTitle='Edit Event')">
    <meta charset="UTF-8">
</head>
<body class="sand-bg trail-details-bg">
<div class="black-trans-bg m-0 float-right" style="width: 100vw; height: 100vh;">
    <nav th:replace="partials/navbar.html :: navbar"></nav>
    <div class="sand-bg ab-font page-header">
        <h1>Edit Event</h1>
    </div>
    <div class="container">
        <div class="card px-5 pb-5 pt-4 mt-5 white-trans-bg z-index-0">
            <form th:action="@{'/events/' + ${event.id} + '/edit'}" th:method="POST">

                <div class="input">
                    <label for="title">Title:</label>
                    <input type="text" name="title" id="title" th:value="*{event.title}" class="w-100">
                </div>

                <div class="input">
                    <label for="description">Description:</label>
                    <input type="text" name="description" id="description" th:value="*{event.description}" class="w-100">
                </div>

                <div class="input">
                    <label for="date">Date:</label>
                    <input type="datetime-local" name="date" id="date" th:value="*{event.date}" class="w-100">
                </div>

                <div class="input">
                    <label for="size">Room Size:</label>
                    <input type="number" name="size" id="size" th:field="*{event.roomSize}" class="w-100">
                </div>

                <input type="radio" name="activity" value="hiking" th:field="*{event.activity}" class="m-1 mt-3">hiking<br>
                <input type="radio" name="activity" value="mountain biking" th:field="*{event.activity}" class="m-1">mountain biking<br>
                <input type="radio" name="activity" value="cycling" th:field="*{event.activity}" class="m-1">cycling<br>
                <input type="radio" name="activity" value="other" th:field="*{event.activity}" class="m-1 mb-3">other<br>

                <button class="btn green-ab-bg ab-font-yellow m-2">Save Changes</button>

            </form>

            <form th:action="@{'/events/' + ${event.id}}" th:method="get">
                <button class="btn btn-danger m-2">Discard Changes</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>