<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:include="partials/head.html :: header-links (pageTitle='Public Events')">
    <html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
<body class="sand-bg trail-details-bg">
<div class="black-trans-bg m-0 float-right" style="width: 100vw; height: 100%;">
    <nav th:replace="partials/navbar.html :: navbar"></nav>
    <div class="container">
        <div class="sand-bg ab-font page-header">
            <h1>Public Events</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            <div th:each="item : ${events}" class="col mt-5">
                <th:block th:if="${!item.getFull()}" class="card">
                    <div class="card m-auto" style="width: 20rem; height: 35rem;">
                        <img th:src="${item.user.profile_img}" alt="profile" class="d-block m-auto" width="200vw"
                             height="200vh">
                        <a th:href="@{'/events/' + ${item.id}}" class="m-auto"><h3 class="text-center" th:text="${item.title}"></h3></a>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h4><strong><span th:text="${item.trail.name}"></span></strong>
                            </h4></li>
                            <li class="list-group-item"><p th:text="${item.description}"></p></li>
                            <li class="list-group-item"><p>Date: <span class="date"><span th:text="${item.date}"></span>
                            </p></li>
                        </ul>
                        <input type="hidden" th:value="${item.date}" class="date">
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script>
    // to view the many options for how to display a date, visit: https://momentjs.com/docs/#/displaying/
    "use strict";
    const dates = document.querySelectorAll(".date");
    for (let date of dates) {
        date.innerText = moment(date.innerText).format("l");
    }
</script>
</body>
</html>