<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:include="partials/head.html :: header-links">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div th:each="item : ${events}">
    <a th:href="@{'/events/' + ${item.id}}"><h3 th:text="${item.title}"></h3></a>
    <p th:text="${item.description}"></p>
    <p>Date: <span th:text="${item.date}"></span></p>
</div>
</body>
</html>