<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head th:include="partials/head.html :: header-links (pageTitle='Emergency Contact Edit')" >
    <meta charset="UTF-8">
    <title>Emergency Contact Edit</title>
</head>
<body class="profile-bg-image">
<div class="black-trans-bg">
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="card sand-bg offset-1 col-10 mt-5">
    <form th:action="@{/profile/{id}/emergencyCont(id=${emergency.id})}" method="post" >
        <div class="card-body">
            <div class="card mb-3">
                <div class="card-header nav-tabs">
                    Create an Emergency Contact
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Email: <input class="w-100" id="email" name="email" type="text" th:value="${emergency.email}"/></li>
                        <li class="list-group-item">First Name: <input class="w-100" id="first" name="first" type="text" th:value="${emergency.first_name}" /></li>
                        <li class="list-group-item">Last Name: <input class="w-100" id="last" name="last" type="text" th:value="${emergency.last_name}" /></li>
                        <li class="list-group-item">Phone Number: <input class="w-100" id="phone" name="phone" type="text" th:value="${emergency.phone_number}"/></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <div class="btn-group">
                <button class="btn btn-green" type="submit">Submit</button>
            </div>
    </form>
</div>
</div>
</body>
</html>