<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head th:include="partials/head.html :: header-links">
        <title>Profile</title>
    </head>
<body class="profile-bg-image">
<div class="black-trans-bg">
<nav th:replace="partials/navbar.html :: navbar"></nav>
<!--    Header-->
<main class="offset-md-1 col-md-10 card sand-bg container-fluid mt-5">
    <h1 class="border-bottom border-dark">Welcome, <span th:text="${user.username}">!</span></h1>
    <div class="row">
        <div id="profile-image" class="col-md-3" style="@media screen and (min-width:768px){height: 200vh}">
            <div class="container-fluid text-center">
            <th:block th:if="${user.profile_img} == null">
                 <img th:src="@{../img/trail-placeholder.png}" alt="profile" class="d-block m-0">
            </th:block>
            <th:block th:if="${user.profile_img} != null">
            <img th:src="${user.profile_img}" alt="profile" class="d-block m-0">
            </th:block>

            <a th:href="@{/profile/{id}/add(id=${user.id})}" class="photo-hover p-1 btn btn-green mx-auto">Upload Profile Photo</a>
            </div>
        </div>
        <!--    menu tabs-->
        <div class="col-md-9 border-left border-dark" style="height: 200vh">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active nav-hover" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="true">
                        Completed Trails</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-hover" id="host-tab" data-toggle="tab" href="#host" role="tab"
                       aria-controls="host" aria-selected="false">
                        Events Hosting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-hover" id="basic-info-tab" data-toggle="tab" href="#basic-info" role="tab"
                       aria-controls="basic-info" aria-selected="false">
                        Basic Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-hover" id="username-tab" data-toggle="tab" href="#username" role="tab"
                       aria-controls="username" aria-selected="false">
                        User Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-hover" id="emergency-tab" data-toggle="tab" href="#emergency" role="tab"
                       aria-controls="emergency" aria-selected="false">
                        Emergency</a>
                </li>
            </ul>
            <form action="" method="post">
                <div class="tab-content" id="myTabContent">
                    <!--            tab pane 1-->
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        Completed Trails
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group" th:each="trail : ${user.trailsList}">
                                            <li class="list-group-item d-flex justify-content-between">
                                                    <a th:href="@{|/trails/${trail.id}|}"><span class="photo-upload"
                                                                                              th:text="${trail.name}"></span></a>
                                                        <form th:action="@{|/trails/${trail.id}/delete|}" th:method="post">
                                                        <div class="d-inline"><button class="btn-danger" type="submit" >x</button></div>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                        </div>
                    </div>
                    <!--                                tab pane host-->
                    <div class="tab-pane fade" id="host" role="tabpanel" aria-labelledby="host-tab">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        Events Hosting
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush" th:each="item : ${events}">
                                            <li class="list-group-item"><a th:href="@{|/events/${item.id}|}"><span
                                                    class="photo-upload font-weight-bold"
                                                    th:text="${item.title}"></span></a></li>
                                            <li class="list-group-item">Group size: <span
                                                    th:text="${item.roomSize}"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <div class="btn-group">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--tab pane 2-->
                    <div class="tab-pane fade" id="basic-info" role="tabpanel" aria-labelledby="basic-info-tab">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        Basic Info
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Date of Birth: <span
                                                    th:text="${user.dateOfBirth}"></span></li>
                                            <li class="list-group-item">Email: <span th:text="${user.email}"></span>
                                            </li>
                                            <li class="list-group-item">First Name: <span
                                                    th:text="${user.firstName}"></span></li>
                                            <li class="list-group-item">Last Name: <span
                                                    th:text="${user.lastName}"></span>
                                            </li>
                                            <li class="list-group-item">Phone Number: <span
                                                    th:text="${user.phoneNumber}"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <div class="btn-group">
                                    <a class="btn btn-green" th:href="@{/profile/{id}/basic(id=${user.id})}">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--            tab pane 3-->
                    <div class="tab-pane fade" id="username" role="tabpanel" aria-labelledby="username-tab">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        Username / Email / Password
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Username: <span
                                                    th:text="${user.username}"></span>
                                            </li>
                                            <li class="list-group-item">Email: <span th:text="${user.email}"></span>
                                            </li>
                                            <li class="list-group-item">Password:</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <div class="btn-group">
                                    <a class="btn btn-green" th:href="@{/profile/{id}/username(id=${user.id})}">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--            Emergency Contact Pane-->
                    <div class="tab-pane fade" id="emergency" role="tabpanel" aria-labelledby="emergency-tab">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        Emergency Contact
                                    </div>
                                    <div class="card-body">
                                        <div th:each="emergencyCont: ${user.emergencyContactsList}">
                                            <ul class="list-group list-group-flush mt-3">
                                                <li class="list-group-item font-weight-bold ">Emergency Contact</li>
                                                <li class="list-group-item">Emergency Contact First Name: <span
                                                        th:text="${emergencyCont.first_name}"></span></li>
                                                <li class="list-group-item">Emergency Contact Last Name: <span
                                                        th:text="${emergencyCont.last_name}"></span></li>
                                                <li class="list-group-item">Email: <span
                                                        th:text="${emergencyCont.email}"></span></li>
                                                <li class="list-group-item">Phone number: <span
                                                        th:text="${emergencyCont.phone_number}"></span></li>
                                                <div class="text-right">
                                                    <a class="btn-sm btn-green"
                                                       th:href="@{/profile/{id}/emergencyCont(id=${emergencyCont.id})}">Edit
                                                        Contacts</a>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <div class="btn-group">
                                    <a class="btn btn-green" th:href="@{/profile/{id}/emergencyCreate(id=${user.id})}">Add
                                        Contact</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
</div>
<script src="https://static.filestackapi.com/adaptive/1.4.0/adaptive.min.js" crossorigin="anonymous"></script>
<script>
    const client = filestack.init(fileStackKey);
</script>
</body>
</html>