<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head th:include="partials/head.html :: header-links">
    <meta charset="UTF-8">
    <title>Username Edit</title>
</head>
<body class="profile-bg-image">
<nav th:replace="partials/navbar.html :: navbar"></nav>

<div class="card sand-bg offset-1 col-10 mt-5">
    <form th:action="@{/profile/{id}/username(id=${user.id})}" method="post" >
        <div class="card-body">
            <div class="card mb-3">
                <div class="card-header">
                    Edit: Username / Email / Password
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Username: <input class="w-100" id="username" name="username" type="text" th:value="${user.username}"/></li>
                        <li class="list-group-item">Email: <input class="w-100" id="email" name="email" type="text" th:value="${user.email}"/></li>
                        <li class="list-group-item">Password:<input class="w-100" id="password" name="password" type="text"/></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <div class="btn-group">
                <button type="submit">Submit</button>
            </div>
    </form>
</div>


</body>
</html>