<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="header-links">
    <meta name="viewport" content="width=device-width, initial-scale=1" lang="en">
   
    <script src="https://static.filestackapi.com/v3/filestack.js"></script>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">
    <link th:href="@{https://allfont.net/allfont.css?fonts=norwester}" rel="stylesheet" type="text/css" />
    <script th:src='@{https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js}'></script>
    <link th:href='@{https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css}' rel='stylesheet' />
    <script th:src="@{https://code.jquery.com/jquery-3.4.1.slim.min.js}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script th:src="@{https://kit.fontawesome.com/a20fb32f37.js}" crossorigin="anonymous"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js}"></script>
    <script src="/keys.js"></script>
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.14.0/css/all.css}" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link th:href="@{/css/ab-css.css}" rel="stylesheet">
</head>
<body>

</body>
</html>