<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark green-ab-bg ab sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a th:href="@{'/'}"><h3 class="ab-font-yellow pl-0 pr-3 m-auto">Adventure Buddy</h3></a>
        <ul class="navbar-nav ml-auto ab-font-yellow">
            <li class="nav-item"><a class="nav-link ab-font-yellow" href="/trails">Trails</a></li>
            <th:block sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link ab-font-yellow" th:href="@{/login}">Log in</a></li>
                <li class="nav-item">
                    <a class="nav-link ab-font-yellow" th:href="@{/sign-up}">Register</a></li>
                <li class="nav-item">
                    <a class="nav-link ab-font-yellow" th:href="@{/about}">About Us</a>
                </li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item"><a class="nav-link ab-font-yellow"
                                        href="/event/events-calendar">Calendar</a></li>

                <li class="nav-item"><a class="nav-link ab-font-yellow" href="/events">Events</a></li>
                <li class="nav-item"><a class="nav-link ab-font-yellow" href="/profile">Profile</a></li>
                <li class="nav-item">
                    <form class="form-inline" th:action="@{/logout}" th:method="post">
                            <button class="btn ab-font-yellow">Logout</button>
                    </form>
                </li>
            </th:block>
        </ul>
        <form th:action="@{/trails/search}" method="post" class="form-inline my-2 my-lg-0">
            <input type="search" class="form-control mr-sm-2" id="search" name="keywords"
                   placeholder="Search trails...">
            <button type="submit" class="btn my-2 my-sm-0 btn green-ab-bg ab-font-yellow">Search</button>
        </form>
    </div>
</nav>
</body>
</html>