.ab-landing-bg-image {
    background-image: url("../img/landing-page.jpg");
}

.sand-bg {
    background-color: #fff1dc;
}

.ab-font{
    font-family: 'Norwester', arial, serif;

}

.ab-font-sand{
    font-family: 'Norwester', arial, serif;
    color: #fff1dc;
}

.ab-font-yellow {
    font-family: 'Norwester', arial, serif;
    color: #fffe73!important
}

.green-trans-bg {
    background: rgba(0, 128, 55, 0.6)
}

.ab-all-trails-bg {
    background-image: url("../img/forked-trail.jpg");
}

.green-ab-bg{
    background-color: #008037
}

.page-header {
    padding: 1em 3em;
    text-align: center;
    margin: auto
}