<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:include="partials/head.html :: header-links">
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body class="container-flud">
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="row offset-2">
<div class="card col-2 m-3">
    <h1>Jay Arredondo</h1>
    <img src="../static/img/JayArredondo.jpg" alt="">
</div>
<div class="card col-2 m-3">Larry Castillo</div>
<div class="card col-2 m-3">Fernando Hernandez</div>
<div class="card col-2 m-3">Trevor Mullis</div>
</div>
</body>
</html>