<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:include="partials/head.html :: header-links">
    <title>Profile</title>
    <script src="/keys.js"></script>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div id="inline">
    <form id="image">
        <label for="fileupload">Select a file to upload</label>
        <input type="hidden" id="fileupload">
        <button id="picker" type="button">Pick file</button>
        <div id="thumbnail-container"></div>
        <input type="submit" value="Submit">
    </form>
</div>
<script src="https://static.filestackapi.com/v3/filestack.js"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script
        src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
<script>
    const client = filestack.init(fileStackKey);
    const options = {
        onUploadDone: updateForm,
        onUploadDone: (res) =>
            $('#image').append(`<input type="hidden" name="profile_img" value="https://cdn.filestackcontent.com/${res.filesUploaded[0].handle}">`),
        maxSize: 10 * 1024 * 1024,
        accept: 'image/*',
        uploadInBackground: false,
    };
    const picker = client.picker(options);

    // Get references to the DOM elements

    const form = document.getElementById('pick-form');
    const fileInput = document.getElementById('fileupload');
    const btn = document.getElementById('picker');
    const nameBox = document.getElementById('nameBox');
    const urlBox = document.getElementById('urlBox');

    // Add our event listeners

    btn.addEventListener('click', function (e) {
        e.preventDefault();
        picker.open();
    });

    form.addEventListener('submit', function (e) {
        e.preventDefault();
        alert('Submitting: ' + fileInput.value);
    });

    // Helper to overwrite the field input value

    function updateForm (result) {
        const fileData = result.filesUploaded[0];
        fileInput.value = fileData.url;

        // Some ugly DOM code to show some data.
        const name = document.createTextNode('Selected: ' + fileData.filename);
        const url = document.createElement('a');
        url.href = fileData.url;
        url.appendChild(document.createTextNode(fileData.url));
        nameBox.appendChild(name);
        urlBox.appendChild(document.createTextNode('Uploaded to: '));
        urlBox.appendChild(url);
    };

</script>
</body>
</html>