<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Calendar</title>
<link th:href='@{/fullcalendar-5.3.0/lib/main.css}'  rel='stylesheet'  />
<style >
  .edit-btn {
    background-color: #008037;
    color: #fffe73;
    border-radius: 9999px;
    padding: .4rem 1rem;
    margin-bottom: .4rem;
    cursor: pointer;
  }
  .edit-btn:hover{
    transition: color .40s ease-out;
    color: whitesmoke;
  }

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 1100px;
    margin: 0 auto;
  }

</style>
</head>
<body>
<h1>Events Calendar</h1>
<form th:action="@{'/trails'}" method="GET">
<button class="edit-btn">Return</button>
</form>
<div class="event-group" th:each = "event: ${myevents}">
  <input type="hidden" th:value="${event.id}">
  <input type="hidden" th:value="${event.title}">
  <input type="hidden" th:value="${event.description}">
  <input type="hidden" th:value="${event.date}">
</div>

  <div id='calendar'></div>
  <input type="hidden" id="events" th:value="${myevents}">

  <script th:src='@{/fullcalendar-5.3.0/lib/main.js}'></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script>

  document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');
  var events = document.getElementById("events").value;
  var eventDivs = $(".event-group");
  var eventBucket = [];
  eventDivs.each(function (index) {
    console.log($(this));

    var eventId = ($(this).children().eq(0));
    var title = $(this).children().eq(1);
    var description = $(this).children().eq(2);
    var date = $(this).children().eq(3);
    console.log(description.val());

    var event = {
      "id": eventId.val(),
      "title": title.val(),
      "description": description.val(),
      "start": date.val()
    };

    eventBucket.push(event);

  })


  console.log(eventBucket);
  var calendar = new FullCalendar.Calendar(calendarEl, {
  headerToolbar: {
  left: 'prevYear,prev,next,nextYear today',
  center: 'title',
  right: 'dayGridMonth,dayGridWeek,dayGridDay'
  },
  initialDate: new Date(),
  navLinks: true, // can click day/week names to navigate views
  editable: true,
  dayMaxEvents: true, // allow "more" link when too many events
  events: eventBucket
  });
  calendar.render();
  });

  </script>

</body>
</html>
