<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div id="thumbnail-container"></div>
<script src="https://static.filestackapi.com/adaptive/1.4.0/adaptive.min.js" crossorigin="anonymous"></script>
<script>
    const client = filestack.init(fileStackKey);
    const options = {
        alt: 'windsurfer',
        sizes: {
            fallback: '60vw',
        }
    };
    const el = fsAdaptive.picture(FILESTACK_HANDLE, options);
    document.body.appendChild(el);
</script>
</body>
</html>