<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <head th:include="partials/head.html :: header-links">
    <title>View All Trails</title>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<h1>Viewing all Trails in: San Antonio, TX</h1>
<div th:each="trail: ${allTrails}">
    <a th:href="@{|trails/${trail.id}|}"><h4 th:text="${trail.name}"></h4></a>
    <ul>
        <li th:text="${trail.summary}"></li>
        <li th:text="${trail.distanceInMi}"></li>
        <li th:text="${trail.type}"></li>
    </ul>
</div>
</body>
</html>