<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <head th:include="partials/head.html :: header-links">
        <title>View All Trails</title>
    </head>
<body class="ab-all-trails-bg">
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="container">
    <div class="sand-bg ab-font" style="padding: 1em 3em; text-align: center; margin: auto">
        <h1>Viewing all Trails in: San Antonio, TX</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div th:each="trail: ${allTrails}" class="col mb-5">
            <div class="card m-auto" style="width: 18rem;">
                <img th:src="@{/img/trail-placeholder.png}" class="card-img-left" alt="trail photo">
                <div class="card-body">
                    <h4 class="card-title" th:text="${trail.name}"></h4>
                </div>
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Distance: <span th:text="${trail.distanceInMi}"></span>mi.</li>
                        <li class="list-group-item" th:text="${trail.type}"></li>
                        <li class="list-group-item"><a th:href="@{|trails/${trail.id}|}">More Info</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>