<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <head th:include="partials/head.html :: header-links">
        <meta charset="UTF-8">
        <title></title>
    </head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="container">
    <h1>Results for: <span th:text="${keywords}"></span></h1>
    <div th:each="trail: ${foundTrails}">
        <a th:href="@{|/trails/${trail.id}|}"><h4 th:text="${trail.name}"></h4></a>
        <ul>
            <li th:text="${trail.summary}"></li>
            <li th:text="${trail.distanceInMi}"></li>
            <li th:text="${trail.type}"></li>
        </ul>
    </div>
</div>
</body>
</html>