<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <head th:include="partials/head.html :: header-links">
    <title th:text="${singleTrail.name}"></title>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="container">
    <h1 th:text="${singleTrail.name}"></h1>
    <div id="map" style="width: 800px; height: 500px"></div>
    <input type="hidden" name="lat" id="lat" th:value="${singleTrail.lat}">
    <input type="hidden" name="lng" id="lng" th:value="${singleTrail.lng}">
    <ul>
        <li>Trail Summary: <span th:text="${singleTrail.summary}"></span></li>
        <li>Distance: <span th:text="${singleTrail.distanceInMi}"></span>mi.</li>
        <li th:text="${singleTrail.type}"></li>
        <li>
            Ascent: <span th:text="${singleTrail.ascent}"></span>ft. / Descent: <span th:text="${singleTrail.descent}"></span>ft.
        </li>
    </ul>
    <form th:method="post" th:action="@{/events/show}">
        <button type="submit" th:object="${singleTrail}">Mark as Complete</button>
    </form>
    <button><a th:href="@{|/events/create/${singleTrail.id}|}">Create Adventure!</a></button><br>
    <button><a th:href="@{|/trails/${singleTrail.id}/review|}">Write a Review</a></button>
    <h2>Reviews</h2>
    <ul>
        <li th:each="review : ${singleTrail.reviewsList}">
            <h5 th:text="${review.user.username}"></h5>
            <p>Rating: </p>
            <th:block th:switch="${review.rating}">
                <span th:case="0">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </span>
                <span th:case="1">
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </span>
                <span th:case="2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </span>
                <span th:case="3">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </span>
                <span th:case="4">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>

                </span>
                <span th:case="5">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </span>
            </th:block>
            <p th:text="${review.comment}"></p>
        </li>
    </ul>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    const file = /*[[${mbKey}]]*/ 'default';
    /*]]>*/
</script>
<script th:src="@{/mapbox.js}"></script>
</body>
</html>